<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Umbertine | Privacy</title>
    <meta content="" name="descriptison">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="assets/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet">

    <!-- =======================================================
  * Name: The Umbertine
  * Developer URL: merajkazi.xyz
  * Developer: Meraj Kazi
  ======================================================== -->
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="d-flex flex-column justify-content-center">
        <div class="container">

            <!-- <h1 class="logo mr-auto"><a href="#hero">The Umbertine</a></h1> -->
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

            <nav class="nav-menu">

                <ul>
                    <!-- <li class="active"><a href="#">Home</a></li> -->
                    <!-- <li><a href="#about">About</a></li> -->
                    <li>
                        <!-- <a href="#hero"><img src="assets/img/logo-1.png" style="width: 100px; height: auto;"></a> -->
                        <a href="#hero"><Strong>UMBERTINE</Strong></a>
                    </li>
                    <li><a href="#custom-tool"><Strong>THE TOOL</Strong></a></li>
                    <li><a href="#tool_applicability"><strong>TOOL APPLICABILITY</strong></a></li>
                    <li><a href="#team"><strong>ABOUT</strong></a></li>
                    <li><a href="#contact"><strong>CONTACT</strong></a></li>
                    <li><a href="#login"><strong>LOG IN</strong></a></li>
                    <li><a href="#payment"><strong>PAYMENT</strong></a></li>
                    <li><a href="http://umber.merajkazi.xyz"><strong>DE/EN</strong></a></li>

                </ul>
            </nav>
            <!-- .nav-menu -->

        </div>
    </header>
    <!-- End Header -->


    <main id="main">

        <!-- ======= About Section ======= -->
        <section id="about" class="about">
            <div class="container" data-aos="fade-up">

                <div class="section-title text-left">
                    <h2>Datenschutz / PRIVACY</h2>
                    <br>
                    <p>1. Erhebung und Verarbeitung personenbezogener Daten Als Betreiber dieser Seiten nehmen wir den Schutz Ihrer persönlichen Daten sehr ernst. Wir behandeln Ihre personenbezogenen Daten vertraulich und entsprechend der gesetzlichen Datenschutzvorschriften
                        sowie dieser Datenschutzerklärung. Die Nutzung unserer Webseite ist in der Regel ohne Angabe personenbezogener Daten möglich. Soweit auf unseren Seiten personenbezogene Daten (beispielsweise Name, Anschrift oder E-Mail-Adressen)
                        erhoben werden, erfolgt dies, soweit möglich, stets auf freiwilliger Basis. Diese Daten werden ohne Ihre ausdrückliche Zustimmung nicht an Dritte weitergegeben. Wir weisen darauf hin, dass die Datenübertragung im Internet (z.B.
                        bei der Kommunikation per E-Mail) Sicherheitslücken aufweisen kann. Ein lückenloser Schutz der Daten vor dem Zugriff durch Dritte ist leider nicht möglich.
                    </p>
                    <br>
                    <p>2. Für die Datenverarbeitung verantwortlich management in accordance GmbH Weidenallee 45, D-20357 Hamburg Germany Telefon: +49 40 532 553 38, Mail: info@mia-international.de
                    </p>
                    <br>
                    <p>3. Widerspruch Sofern Sie der Erhebung, Verarbeitung oder Nutzung Ihrer Daten nach Maßgabe dieser Datenschutzerklärung insgesamt oder für einzelne Maßnahmen widersprechen wollen, können Sie Ihren Widerspruch per E-Mail oder Brief an
                        die oben genannten Kontaktdaten senden. Bei einem generellen Widerspruch ist jedoch die Nutzung der Dienste nicht mehr möglich.
                    </p>
                    <br>
                    <p>4. Erhebung personenbezogener Daten Wir erheben keine personenbezogenen Daten bei der bloß informatorischen Nutzung der Website, mit Ausnahme der Daten, die Ihr Browser übermittelt, um Ihnen den Besuch der Website zu ermöglichen. Diese
                        sind: • IP-Adresse • Datum und Uhrzeit der Anfrage • Zeitzonendifferenz zur Greenwich Mean Time (GMT) • Inhalt der Anforderung (konkrete Seite) • Zugriffsstatus/HTTP-Statuscode • jeweils übertragene Datenmenge • Website, von der
                        die Anforderung kommt • Browser • Betriebssystem und dessen Oberfläche • Sprache und Version des Browsers Die IP-Adressen der Nutzer werden nach Beendigung der Nutzung gelöscht oder anonymisiert. Bei einer Anonymisierung werden
                        die IP-Adressen derart geändert, dass die Einzelangaben über persönliche oder sachliche Verhältnisse nicht mehr oder nur mit einem unverhältnismäßig großen Aufwand an Zeit, Kosten und Arbeitskraft einer bestimmten oder bestimmbaren
                        natürlichen Person zugeordnet werden können.
                    </p>
                    <br>
                    <p>5. Cookies Die Internetseiten verwenden teilweise so genannte Cookies. Cookies richten auf Ihrem Rechner keinen Schaden an und enthalten keine Viren. Cookies dienen dazu, unser Angebot nutzerfreundlicher, effektiver und sicherer zu
                        machen. Cookies sind kleine Textdateien, die auf Ihrem Rechner abgelegt werden und die Ihr Browser speichert. Die meisten der von uns verwendeten Cookies sind so genannte „Session-Cookies“. Sie werden nach Ende Ihres Besuchs automatisch
                        gelöscht. Andere Cookies bleiben auf Ihrem Endgerät gespeichert, bis Sie diese löschen. Diese Cookies ermöglichen es uns, Ihren Browser beim nächsten Besuch wiederzuerkennen. Sie können Ihren Browser so einstellen, dass Sie über
                        das Setzen von Cookies informiert werden und Cookies nur im Einzelfall erlauben, die Annahme von Cookies für bestimmte Fälle oder generell ausschließen sowie das automatische Löschen der Cookies beim Schließen des Browser aktivieren.
                        Bei der Deaktivierung von Cookies kann die Funktionalität dieser Website eingeschränkt sein
                    </p>
                    <br>
                    <p>6. Datenschutzerklärung für die Nutzung von GoogleAnalytics Unsere Website benutzt Google Analytics, einen Webanalysedienst der Google Inc., 1600 Amphitheatre Parkway, Mountain View, CA 94043, USA („Google“). Google Analytics verwendet
                        Cookies, um unsere Website hinsichtlich Ihres Nutzungsverhaltens zu analysieren. Die durch Cookies erzeugen Informationen über die Benutzung der Website werden an einen Server von Google in den USA übertragen und dort gespeichert.
                        Ihre IP-Adresse wird jedoch vor der Auswertung der Nutzungsstatistiken gekürzt, so dass keine Rückschlüsse auf Ihre Identität erfolgen können. Hierzu wurde Google Analytics auf unserer Website um den Code „anonymizeIp“ erweitert,
                        um eine anonymisierte Erfassung von IP-Adressen zu gewährleisten.
                        <br> Google wird die durch die Cookies gewonnenen Informationen benutzen, um Ihre Nutzung der Website auszuwerten, um Reports über die Websiteaktivitäten für die Websitebetreiber zusammenzustellen und um weitere mit der Websitenutzung
                        und der Internetnutzung verbundene Dienstleistungen zu erbringen. Auch wird Google diese Informationen gegebenenfalls an Dritte übertragen, sofern dies gesetzlich vorgeschrieben ist oder soweit Dritte diese Daten im Auftrag von
                        Google verarbeiten Sie können wie oben dargestellt Ihren Browser so konfigurieren, dass er Cookies abweist, oder Sie können die Erfassung der durch das Cookie erzeugten und auf Ihre Nutzung dieser Website bezogenen Daten (inkl.
                        Ihrer IP-Adresse) sowie die Verarbeitung dieser Daten durch Google verhindern, indem Sie das Browser-Plugin herunterladen und installieren. Alternativ zum Browser-Add-On oder innerhalb von Browsern auf mobilen Geräten, können Sie
                        einen Opt-Out-Cookie setzen, um die Erfassung durch Google Analytics innerhalb dieser Website zukünftig zu verhindern (das Opt-Out funktioniert nur in dem Browser und nur für diese Domain). Löschen Sie Ihre Cookies in diesem Browser,
                        müssen Sie diesen Link erneut anklicken.

                    </p>
                    <br>
                    <p>7. Datenschutzerklärung für die Nutzung von Facebook-Plugins (Like-Button) Auf unseren Seiten sind Plugins des sozialen Netzwerks Facebook, Anbieter Facebook Inc., 1 Hacker Way, Menlo Park, California 94025, USA, integriert. Die Facebook-Plugins
                        erkennen Sie an dem Facebook-Logo oder dem „Like-Button“ („Gefällt mir“) auf unserer Seite. Eine Übersicht über die Facebook-Plugins finden Sie hier: http://developers.facebook.com/docs/plugins/. Wenn Sie unsere Seiten besuchen,
                        wird über das Plugin eine direkte Verbindung zwischen Ihrem Browser und dem Facebook-Server hergestellt. Facebook erhält dadurch die Information, dass Sie mit Ihrer IP-Adresse unsere Seite besucht haben. Wenn Sie den Facebook „Like-Button“
                        anklicken während Sie in Ihrem Facebook-Account eingeloggt sind, können Sie die Inhalte unserer Seiten auf Ihrem Facebook-Profil verlinken. Dadurch kann Facebook den Besuch unserer Seiten Ihrem Benutzerkonto zuordnen. Wir weisen
                        darauf hin, dass wir als Anbieter der Seiten keine Kenntnis vom Inhalt der übermittelten Daten sowie deren Nutzung durch Facebook erhalten. Weitere Informationen hierzu finden Sie in der Datenschutzerklärung von Facebook unter
                        http://de-de.facebook.com/policy.php. Wenn Sie nicht wünschen, dass Facebook den Besuch unserer Seiten Ihrem Facebook- Nutzerkonto zuordnen kann, loggen Sie sich bitte aus Ihrem Facebook-Benutzerkonto aus.
                    </p>
                    <br>
                    <p>8. Weitergabe von Daten Wir geben ihre Daten nur an Dritte weiter, wenn dies zum Zweck der Vertragsabwicklung oder Abrechnung erforderlich ist oder Sie zuvor eingewilligt haben. Diese Daten dürfen von unseren Dienstleistern lediglich
                        zur Erfüllung ihrer Aufgabe verwendet werden. Die Dienstleister wurden von uns sorgfältig ausgewählt und schriftlich beauftragt. Sie sind an unsere Weisungen gebunden und werden von uns regelmäßig kontrolliert. Eine anderweitige
                        Nutzung der Informationen ist nicht gestattet und erfolgt auch bei keinem der von uns betrauten Dienstleister.
                    </p>
                    <br>
                    <p>9. Datensicherheit Wir unterhalten technische Maßnahmen zur Gewährleistung der Datensicherheit, insbesondere zum Schutz Ihrer personenbezogenen Daten vor Gefahren bei Datenübertragungen sowie vor Kenntniserlangung durch Dritte. Diese
                        werden dem aktuellen Stand der Technik entsprechend jeweils angepasst.
                    </p>
                    <br>
                    <p>10. Auskunft, Löschung, Sperrung Sie haben jederzeit das Recht auf unentgeltliche Auskunft über Ihre gespeicherten personenbezogenen Daten, deren Herkunft und Empfänger und den Zweck der Datenverarbeitung sowie ein Recht auf Berichtigung,
                        Sperrung oder Löschung dieser Daten. Hierzu sowie zu weiteren Fragen zum Thema personenbezogene Daten können Sie sich jederzeit unter der im Impressum angegebenen Adresse an uns wenden.
                        <br> Diese Datenschutzerklärung gilt nur für Inhalte auf unseren Servern und umfasst nicht die auf unserer Seite verlinkten Websites.
                    </p>
                </div>

            </div>
        </section>
        <!-- End About Section -->


    </main>
    <!-- End main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">

        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-2 col-md-2"></div>

                    <div class="col-lg-3 col-md-5 footer-contact">
                        <h3>Umbertine</h3>
                        <p>
                            Weidenallee 45, <br> D-20357 Hamburg, <br> Germany <br><br>
                            <!-- <strong>Phone:</strong> +49 40 532 553 38<br> -->
                            <strong>Email:</strong> umbertine@mia-international.de<br>
                        </p>
                    </div>

                    <div class="col-lg-4 col-md-5 footer-newsletter">
                        <h4>Want to know more about us?</h4>
                        <p>Fill up the contact form immediately.</p>
                        <!-- <div class="text-center btn btn-primary">Contact</div> -->
                        <!-- <a href="#contact" class="get-started-btn scrollto">Contact</a> <br> -->
                        <a href="privacy.html" class="get-started-btn scrollto">Privacy</a> <br>
                        <a href="imprint.html" class="get-started-btn scrollto">Imprint</a>
                    </div>

                </div>
            </div>
        </div>

        <div class="container d-md-flex py-4">

            <div class="mr-md-auto text-center text-md-left">
                <div class="copyright">
                    &copy; Copyright <strong><span>Umbertine 2020</span></strong>. All Rights Reserved
                </div>
                <div class="credits">
                    <!-- All the links in the footer should remain intact. -->
                    Developed by <a href="https://merajkazi.xyz/" target="_blank">Meraj Kazi</a>
                </div>
            </div>
            <!-- <div class="social-links text-center text-md-right pt-3 pt-md-0">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div> -->
        </div>
    </footer>
    <!-- End Footer -->

    <a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>
    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="assets/vendor/jquery/jquery.min.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>
    <script src="assets/vendor/waypoints/jquery.waypoints.min.js"></script>
    <script src="assets/vendor/counterup/counterup.min.js"></script>
    <script src="assets/vendor/venobox/venobox.min.js"></script>
    <script src="assets/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="assets/vendor/aos/aos.js"></script>

    <!-- Template Main JS File -->
    <script src="assets/js/custom.js"></script>
    <script src="assets/js/main.js"></script>




</body>

</html>